html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#root {
  height: 100%;
}

.rt-noData {
  display: none !important;
}
